@model System.Char[]



<div class="well">
    @{
        var letters = ViewBag.UsedLetters;
        for (int i = 0; i < letters.Length; i++)
        {
            if (char.IsLetter(letters[i]))
            {
                <span>@char.ToUpper(letters[i])</span>
            }
            else
            {
                <span id="@i">...</span>
            }
        }
    }
</div>



<div class="well">
    @{
        for (int i = 0; i < Model.Length; i++)
        {
            if (char.IsLetter(Model[i]))
            {
                <span>@Model[i]</span>
            }
            else
            {
                <span id="@i">_</span>
            }
        }
    }
</div>

<div class="panel panel-danger">
    <span>You have: </span>
    <span id="guesses">@ViewBag.Guesses</span>
    <span>guesses left.</span>

</div>


<script>
    (function drawTheHangman() {
        var innerText = $("#guesses").html();
        var num = parseInt(innerText);

        if (num == 4) {
            drawHead();
        }
        else if (num == 3) {
            drawBody();
        }
        else if (num == 2) {
            drawHands();
        }
        else if (num == 1) {
            drawLegs();
        }
        else {
            return;
        }
    })();
</script>
